<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.jyzh.business.mybatis.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.bat.jyzh.business.mybatis.entity.UserPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>

    <insert id="insert" parameterType="com.bat.jyzh.business.mybatis.entity.UserPO">
        insert into t_user (name, sex, birthday, address)
        values (#{name,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{birthday,jdbcType=VARCHAR},
                #{address,jdbcType=VARCHAR})
    </insert>
</mapper>